/* Estilos generales */
#main-body {
    font-family: Arial, sans-serif;
    background-color: #65678c;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Contenedor principal */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #908599;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Añadido para bajar el contenedor */
}

/* Sección izquierda con el logo */
.logo-container {
    flex: 1; /* Ocupa la mitad del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 80%; /* Ajusta el tamaño del logo */
    max-width: 250px; /* Máximo tamaño permitido */
}

/* Sección derecha con el formulario */
.form-container {
    flex: 1; /* Ocupa la otra mitad */
    text-align: left;
}

/* Título del formulario */
#main-heading {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #f4f4f4;
}

/* Formulario */
#login-form {
    display: flex;
    flex-direction: column;
    width: 80%; /* Hace que los campos sean más angostos */
    margin: auto;
}

/* Campo de formulario */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f4f4f4;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 10px;
    background-color: #65678c;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

/* Estilos adicionales para los nuevos campos */
.form-group input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Asegúrate de que todo tenga un diseño coherente */
#login-form .form-group {
    margin-bottom: 20px; /* Espacio entre campos */
}
